.fashion1,
.fashion2,
.fashion3 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  color: white;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}
.fashion-text {
  flex: 1;
  position: relative;
  flex-basis: 25rem;
  h1 {
    font-size: 6rem;
    padding: 5rem 0rem;
  }
  p {
    font-size: 2rem;
    padding: 2rem 2rem 0rem 0rem;
    margin-bottom: 10rem;
  }
}
.fashion1 {
  h1 {
    color: rgb(255, 139, 93);
  }
}
.fashion2 {
  h1 {
    color: rgb(167, 110, 231);
  }
}
.fashion3 {
  h1 {
    color: rgb(86, 124, 228);
  }
}
.fashion-nr {
  font-size: 15rem;
  position: absolute;
  left: 50%;
  bottom: 10%;
  color: white;
  opacity: 0.2;
}
