@import "global";
@import "headers";
@import "slides";
@import "fashion";
@import "painting";
@import "sport";

/*Media Queries */
@media screen and (max-width: 1500px) {
  .hero-img {
    height: 50vh;
  }
  .fashion-text h1 {
    font-size: 6rem;
    padding: 1rem 0rem;
  }
  .fashion-text p {
    font-size: 1.4rem;
  }
  .fashion-img img {
    height: 60vh;
    object-position: top;
  }
  .painting-text h1 {
    font-size: 6rem;
    padding: 1rem 0rem;
  }
  .painting-text p {
    font-size: 1.4rem;
  }
  .painting-img img {
    height: 60vh;
    object-position: top;
  }
  .sport-text h1 {
    font-size: 6rem;
    padding: 1rem 0rem;
  }
  .sport-text p {
    font-size: 1.4rem;
  }
  .sport-img img {
    height: 60vh;
    object-position: top;
  }
}
@media screen and (max-width: 1024px) {
  main {
    overflow-y: visible;
    width: 100%;
    height: fit-content;
    margin: 0;
  }
  .slide {
    display: block;
    width: 100%;
    text-align: center;
  }
  .hero-desc {
    padding: 0;
  }
  .hero-img {
    padding-top: 4rem;
  }
  .hero-desc h2 {
    font-size: 1.6rem;
    padding: 1rem 0rem;
  }
  .hero-desc p {
    padding: 2rem 0rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .explore {
    width: 60%;
    margin: auto;
  }
  .detail-slide {
    width: 100%;
    text-align: center;
  }
  .fashion-text p {
    margin-bottom: 2rem;
    padding: 0;
    font-size: 1.4rem;
  }
  .fashion-text h1 {
    font-size: 4rem;
    margin: 1rem 0rem;
  }
  .fashion-nr {
    display: none;
  }
  .fashion-img img {
    height: 40vh;
    object-position: top;
  }
  .painting-text p {
    margin-bottom: 2rem;
    padding: 0;
    font-size: 1.4rem;
  }
  .painting-text h1 {
    margin: 1rem 0rem;
    font-size: 4rem;
  }
  .painting-nr {
    display: none;
  }
  .painting-img img {
    height: 40vh;
    object-position: top;
  }
  .sport-text p {
    margin-bottom: 2rem;
    padding: 0;
    font-size: 1.4rem;
  }
  .sport-text h1 {
    font-size: 4rem;
    margin: 1rem 0rem;
  }
  .sport-nr {
    display: none;
  }
  .sport-img img {
    height: 40vh;
    object-position: top;
  }
  .nav-bar {
    display: block;
  }
  .nav-links {
    font-size: 2rem;
    text-align: center;
  }
  .contact h2 {
    font-size: 3rem;
    text-align: center;
  }
  .contact p {
    font-size: 1.2rem;
    padding: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 754px) {
  main {
    width: 100%;
    margin: 0;
  }
  .slide {
    display: block;
    width: 100%;
    text-align: center;
  }
  .hero-desc {
    padding: 0;
  }
  .hero-img {
    padding-top: 4rem;
  }
  .hero-desc h2 {
    font-size: 1.6rem;
    padding: 1rem 1rem;
  }
  .hero-desc p {
    padding: 2rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .explore {
    width: 60%;
    margin: auto;
  }
  .detail-slide {
    width: 100%;
    text-align: center;
  }
  .fashion-text p {
    margin-bottom: 5rem;
    padding: 0;
  }
  .fashion-text h1 {
    margin: 2rem 0rem;
  }
  .fashion-nr {
    font-size: 8rem;
  }
  .painting-text p {
    margin-bottom: 5rem;
    padding: 0;
  }
  .painting-text h1 {
    margin: 2rem 0rem;
  }
  .painting-nr {
    font-size: 8rem;
  }
  .sport-text p {
    margin-bottom: 5rem;
    padding: 0;
  }
  .sport-text h1 {
    margin: 2rem 0rem;
  }
  .sport-nr {
    font-size: 8rem;
  }
  .nav-bar {
    display: block;
    width: 100%;
    margin: 0;
  }
  .nav-links {
    width: 100%;
    margin: 0;
    font-size: 2rem;
    text-align: center;
    padding-top: 5rem;
    li {
      display: flex;
      width: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .contact {
    .form-section {
      label {
        margin: 2rem;
      }
      input {
        margin-left: 2rem;
        width: 20rem;
      }
    }
  }
  .contact h2 {
    font-size: 2rem;
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
